*{
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

header{
    height: 130px;
    margin-top: 3%;
}
body{
    background-color: rgb(42, 165, 79);
}

#titre1{
    margin: auto;
    border-color: rgb(27, 27, 124);
    color: rgb(27, 27, 124);
    width: 35%;
    border-width: 5px;
    border-style: ridge;
    text-align: center;
}

#para1{
    text-align: center;
    color:rgb(173, 31, 31);
    font-weight: 1000;
}

.articles{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: rgb(42, 165, 79);
    border-radius: 10px;
}
article{
    flex-direction: column;

}
.titre2{
    background-color: rgb(27, 27, 124);
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
    border-radius: 10px;
}

.para{
    font-size: large;
    text-align: center;
    background-color:white ;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}

.list{
    font-size: large;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .articles{
        display:flex;
        flex-direction: column;
    }
}